<div class="container bg-light mt-5 p-2" *ngIf="generated">
    <div class="row">
        <div class="col-12 col-sm-4 pt-3 text-center">
            <img src="{{ storeDetails.store_logo_url }}" alt="Store Logo" width="120">
        </div>
        <div class="col-12 col-sm-8">
            <h2>{{ storeDetails.name }}</h2>
            <h4><span>{{ storeDetails.category }}</span> : <span>{{ storeDetails.categories_available }}</span></h4>
            <h6><span>{{ storeDetails.place.street_address }}</span></h6>
            <h6><span>{{ storeDetails.place.city }}</span></h6>
            <h6><span>{{ storeDetails.place.state }}</span></h6>
        </div>
    </div>
</div>

<div class="container bg-light mt-5 p-3" *ngIf="generated">
    <div class="row text-center mb-2 border-bottom">
        <div class="col-4 col-sm-4 border-right">
            <h6 class="font-weight-bold text-uppercase">weekdays</h6>
        </div>
        <div class="col-4 col-sm-4 border-right border-left">
            <h6 class="font-weight-bold text-uppercase">
                opens
            </h6>
        </div>
        <div class="col-4 col-sm-4 border-left">
            <h6 class="font-weight-bold text-uppercase">
                closes
            </h6>
        </div>
    </div>
    <div class="row text-center" *ngFor="let x of hourDetails">
        <div class="col-4 col-sm-4 d-inline text-uppercase border-right">
            <h6>{{ x.weekday }}</h6>
        </div>
        <div class="col-4 col-sm-4 d-inline border-right border-left">
            <h6>{{ x.from_hour }}</h6>
        </div>
        <div class="col-4 col-sm-4 d-inline border-left">
            <h6>{{ x.to_hour }}</h6>
        </div>
    </div>

    <button class="btn btn-primary w-100 front-weight-bold text-uppercase font-weight-bold mt-3" type="button" data-toggle="modal" data-target="#updateStoreHours">
        update store hours
    </button>

    <!-- modal to update store hours -->
    <div class="modal fade" id="updateStoreHours" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-uppercase font-weight-bold" id="exampleModalLongTitle">update store hours</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-2">
                    <small>*  Please enter opening and closing time for all 7 days</small>
                    <form #updateHrs="ngForm" (ngSubmit)="updateHours(updateHrs.value)">

                        <div class="container">
                            <legend for="weekdays" class="font-weight-bold col-12 col-sm-12 text-uppercase p-0">monday</legend>
                            <div class="row text-center">
                                <label for="from-time" class="col-6 col-sm-6 text-uppercase border-right">from time</label>
                                <label for="to-time" class="col-6 col-sm-6 text-uppercase border-left">to time</label>
                            </div>
                            <div class="row">
                                <input class="form-control col-6 col-sm-6" required type="time" name="from_time_m" ngModel />
                                <input class="form-control col-6 col-sm-6" required type="time" name="to_time_m" ngModel />
                            </div>
                        </div>


                        <div class="container">
                            <legend for="weekdays" class="font-weight-bold col-12 col-sm-12 text-uppercase p-0">tuesday</legend>
                            <div class="row text-center">
                                <label for="from-time" class="col-6 col-sm-6 text-uppercase border-right">from time</label>
                                <label for="to-time" class="col-6 col-sm-6 text-uppercase border-left">to time</label>
                            </div>
                            <div class="row">
                                <input class="form-control col-6 col-sm-6" required type="time" name="from_time_t" ngModel />
                                <input class="form-control col-6 col-sm-6" required type="time" name="to_time_t" ngModel />
                            </div>
                        </div>


                        <div class="container">
                            <legend for="weekdays" class="font-weight-bold col-12 col-sm-12 text-uppercase p-0">wednesday</legend>
                            <div class="row text-center">
                                <label for="from-time" class="col-6 col-sm-6 text-uppercase border-right">from time</label>
                                <label for="to-time" class="col-6 col-sm-6 text-uppercase border-left">to time</label>
                            </div>
                            <div class="row">
                                <input class="form-control col-6 col-sm-6" required type="time" name="from_time_w" ngModel />
                                <input class="form-control col-6 col-sm-6" required type="time" name="to_time_w" ngModel />
                            </div>
                        </div>


                        <div class="container">
                            <legend for="weekdays" class="font-weight-bold col-12 col-sm-12 text-uppercase p-0">thursday</legend>
                            <div class="row text-center">
                                <label for="from-time" class="col-6 col-sm-6 text-uppercase border-right">from time</label>
                                <label for="to-time" class="col-6 col-sm-6 text-uppercase border-left">to time</label>
                            </div>
                            <div class="row">
                                <input class="form-control col-6 col-sm-6" required type="time" name="from_time_th" ngModel />
                                <input class="form-control col-6 col-sm-6" required type="time" name="to_time_th" ngModel />
                            </div>
                        </div>


                        <div class="container">
                            <legend for="weekdays" class="font-weight-bold col-12 col-sm-12 text-uppercase p-0">friday</legend>
                            <div class="row text-center">
                                <label for="from-time" class="col-6 col-sm-6 text-uppercase border-right">from time</label>
                                <label for="to-time" class="col-6 col-sm-6 text-uppercase border-left">to time</label>
                            </div>
                            <div class="row">
                                <input class="form-control col-6 col-sm-6" required type="time" name="from_time_f" ngModel />
                                <input class="form-control col-6 col-sm-6" required type="time" name="to_time_f" ngModel />
                            </div>
                        </div>


                        <div class="container">
                            <legend for="weekdays" class="font-weight-bold col-12 col-sm-12 text-uppercase p-0">saturday</legend>
                            <div class="row text-center">
                                <label for="from-time" class="col-6 col-sm-6 text-uppercase border-right">from time</label>
                                <label for="to-time" class="col-6 col-sm-6 text-uppercase border-left">to time</label>
                            </div>
                            <div class="row">
                                <input class="form-control col-6 col-sm-6" required type="time" name="from_time_sa" ngModel />
                                <input class="form-control col-6 col-sm-6" required type="time" name="to_time_sa" ngModel />
                            </div>
                        </div>


                        <div class="container">
                            <legend for="weekdays" class="font-weight-bold col-12 col-sm-12 text-uppercase p-0">sunday</legend>
                            <div class="row text-center">
                                <label for="from-time" class="col-6 col-sm-6 text-uppercase border-right">from time</label>
                                <label for="to-time" class="col-6 col-sm-6 text-uppercase border-left">to time</label>
                            </div>
                            <div class="row">
                                <input class="form-control col-6 col-sm-6" required type="time" name="from_time_su" ngModel />
                                <input class="form-control col-6 col-sm-6" required type="time" name="to_time_su" ngModel />
                            </div>
                        </div>


                        <button class="btn btn-success text-uppercase font-weight-bold col-12 col-sm-12 mt-4 mt-sm-4" type="submit" value="submit">
                            update
                        </button>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <button class="btn btn-primary w-100 front-weight-bold text-uppercase font-weight-bold my-2" type="button" data-toggle="collapse" data-target="#checkVisits" aria-expanded="false" aria-controls="collapseExample">
        show visits
    </button>

    <div class="collapse my-3" id="checkVisits">

        <label for="from_date" class="font-weight-bold col-12 col-sm-12 text-uppercase p-0">starting from: </label>
        <input class="form-control col-12 col-sm-12" required type="date" name="from_date" value="2019-01-01" disabled />

        <label for="to_date" class="font-weight-bold col-12 col-sm-12 text-uppercase p-0">till: </label>
        <input class="form-control col-12 col-sm-12" required type="date" name="to_date" value="2019-05-01" #visitTill />

        <button class="btn btn-success text-uppercase font-weight-bold col-12 col-sm-12 mt-4 mt-sm-4" type="submit" (click)="submitDate(visitTill.value)" data-toggle="collapse" data-target="#chartContainer" aria-expanded="false" aria-controls="collapseExample">
            count
        </button>

        <!-- integration for bar-graph -->
        <div id="chartContainer" class="collapse my-3" style="height: 370px; width: 100%"></div>

    </div>
</div>